/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-oo1b-aleluya  {
 
}

.oo_donation_block_editor_aleluya {
  border: 1px solid black;
  padding: 4px;
  padding-bottom:12px;
}
